body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #43b8ff;
}
.container{
    position: relative;
}
.header_home{
    border: 1px solid red;
    height: 50px;
}
.body_home{
    display: flex;
    flex-direction: row;
}
.content_menu{
    position: absolute;
    height: 450px;
    width:  50%;
    border: 1px solid blue;
    background-color: #FFFFFF;
 }
.content_bill{
    margin-left: 635px;
    height: 450px;
    position: absolute;
    width:48%;
    border: 1px solid green;
    background-color: #FFFFFF;
}
.footer_home{
    width: 100%;
    margin-top: 450px;
    position: absolute;
    border: 1px solid red;
    height: 50px;
}