
body {
    background-image: url("../image/imageLogin.png");
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 5em 26em;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

i {
    margin-top: -5px;
}

.sign {
    text-align: center;
    padding-top: 9px;
    color: #8C55AA;
    font-size: 59px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 9px;
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;
}

/*form.form1 {*/
/*    padding-top: 40px;*/
/*}*/

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    position: absolute;
    width: 200px;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -23.8%;
    margin-top: 5%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    position: absolute;
    width: 56px;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #e56c75, #db1340);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -17.5%;
    margin-top: 9%;
    font-size: 12px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.signup {
    position: absolute;
    width: 56px;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #54b4e7, #215fcb);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -11.5%;
    margin-top: 9%;
    font-size: 12px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.hotline {
    position: absolute;
    color: #eb0bc5;
    margin-top: 105px;
    margin-left: 147px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
}
.submit{
    position: absolute;
    width: 200px;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -20.1%;
    margin-top: 5%;
    font-size: 15px;
}